.hero-section3 {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 50vh;
    margin-top: 20%;

}


.header3 {
    align-items: center;
    
}
.header3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10%;
}


@media (min-width: 1000px) {
    .hero-section3 {
        margin: 0px 65vh;
    }
}

.task-box-container3 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    margin-bottom: 20px;
    padding: 44px 0px 44px 30px;
    min-width: 70%;
    margin-top: 20%;
}
@media (min-width: 1024px) {
    .task-box-container3 {
        min-width: 60%;
    }
}


@media (max-width: 767px) {
    .task-box-container3 {
        min-width: 90%;
    }
}

.priority-header3, .task-box-header3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.high-priority3 {
    background-color: #ff4d4d;
}

.priority-label3 {
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin-right: 8px;
    width: 5px;
}

.priority-text3 {
    font-size: 12px;
}

.dropdown3 {
    display: inline-block;
    position: relative;
}

.dd-button3 {
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px 10px 20px;
    white-space: nowrap;
}

.dd-input3 {
    display: none;
}

.dd-input3+.dd-menu3 {
    display: none;
}

.dd-menu3 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 #0000001a;
    list-style-type: none;
    margin: 2px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
}

.task-title3 {
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.priority-header3, .task-box-header3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-box-icons3 {
    align-items: center;
    display: flex;
}

.toggle-btn3 {
    background: none;
    border: none;
    color: #6c757d;
    cursor: pointer;
    font-size: 16px;
}

.task-checklist3 {
    margin-top: 10px;
    overflow-y: auto;
    height: 360px;
    color: #666;
    font-size: 14px;
    scrollbar-color: rgb(136, 155, 173) rgb(255, 255, 255);
    scrollbar-width: thin;
}

.task-checklist3>p {
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: bolder;
}


.checklist-item3 {
    border: 1px solid rgb(203, 201, 201);
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    flex-grow: 2;
    word-wrap: break-word;
    line-break: anywhere;
}


.task-footer3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.task-date3 {
    background-color: #db0909;
    border-radius: 5px;
    color: #fff;
    font-size: 8px;
    padding: 5px 10px;
    margin-left: 5px;
}

.task-status1-container3 {
    display: flex;
}

.task-status3 {
    cursor: pointer;
    font-size: 12px;
    padding: 5px 5px;
}

input[type="checkbox"] {

    color: #6c757d;

}
.task-date2 {
    background-color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 12px; 
    color: rgb(8, 8, 8); 
  }
  
  .past-due {
    background-color: red;
    color: white; 
  }
