.full-content{
    display: flex;
    flex-direction: row;

}
.box{
    width: 35vw;
    height: 30vh;
    background-color:  #F9FCFF;

    padding: 20px;
    margin-right: 20px;
    border-radius: 1rem;
}
.box ul{
    text-decoration: dotted;
}
.box span{
  font-size: 24px;
}
.list{
    display: flex;
    gap: 60px;
    
}
.taskRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 2px 10px 2px 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 8px;
    background-color: blueviolet;
  }
  
  .taskCount {
    font-weight: bold;
    margin-left: auto;
  }